<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Магазин одягу</title>
    <meta name="description" content="Магазин одягу для всієї родини">
    <meta name="keywords" content="Одяг">
    <meta name="author" content="Микитенко Ірина">
    <link rel="stylesheet" href="/styles/style.css" type="text/css">
</head>
<body>
    <header>
        <img class="logo" src="/logo/img.png" alt="logo">
        <nav class="menu">
            <ul>
                <li><a href="#">Головна</a></li>
                <li><a href="#">Про нас</a></li>
                <li><a href="#">Кошик</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <aside class="sidebar">
            <ul class="menu">
                <li><a href="#">Головна</a></li>
                <li><a href="#">Успішність</a></li>
                <li><a href="#">Контакти</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
        </aside>
        <main class="content">
            <div class="img-row">
                <img class="image" src="/photo/img_4397.png" alt="photo1">
                <img class="image" src="/photo/img_4414.png" alt="photo2">
                <img class="image" src="/photo/img_5400.png" alt="photo3">
            </div>
            <div class="img-row">
                <img class="image" src="/photo/img_5413.png" alt="photo4">
                <img class="image" src="/photo/img_5441.png" alt="photo5">
                <img class="image" src="/photo/img_5447.png" alt="photo6">
            </div>
        </main>
    </div>
    <footer>
        <div class="footer-row">
            <div class="footer-column">
                <h3>Меню</h3>
                <ul>
                    <li><a href="#">Головна</a></li>
                    <li><a href="#">Успішність</a></li>
                    <li><a href="#">Контакти</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Категорії</h3>
                <ul>
                    <li><a href="#">Жіночий одяг</a></li>
                    <li><a href="#">Чоловічий одяг</a></li>
                    <li><a href="#">Дитячий одяг</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Підтримка</h3>
                <ul>
                    <li><a href="#">Доставка і оплата</a></li>
                    <li><a href="#">Повернення товару</a></li>
                    <li><a href="#">Розмірна сітка</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>